<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutGlobal}">

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function() {
                $("#searchBtn").on("click",function(e) {
                    e.preventDefault();

                    page(0);
                });
            });

            function page(page) {
                var searchQuery = $("#searchQuery").val();
                var searchCategory = $("#searchCategory").val();
                var searchTagIds = $("input[name^='searchTagIds']:checked");
                var sortColumn = $("#sortColumn").val();
                var sortDirection = $("#sortDirection").val();

                searchTagIds = searchTagIds.map(function(i, el) { return $(el).val(); }).toArray();
                searchTagIds = searchTagIds.join(',');

                location.href = "/items/" + page + "?searchQuery=" + searchQuery
                    + "&searchCategory=" + searchCategory
                    + "&searchTagIds=" + searchTagIds
                    + "&sortColumn=" + sortColumn
                    + "&sortDirection=" + sortDirection;
            }
        </script>
    </th:block>

    <!-- 사용자 CSS 추가 -->
    <th:block layout:fragment="css">

    </th:block>

    <div layout:fragment="content">
        <form th:action="@{'/items/' + ${items.number}}" role="form" method="get" th:object="${items}">
            <div class="form-inline justify-content-center" th:object="${itemComplexSearchDto}">
                <b style="margin: 0 5px 0 0;">정렬 : </b>
                <select th:field="*{sortColumn}" class="form-control" style="width: auto; margin: 0 5px 0 0;">
                    <option value="REG_TIME">등록일</option>
                    <option value="NAME">상품명</option>
                    <option value="PRICE">가격</option>
                </select>
                <select th:field="*{sortDirection}" class="form-control" style="width: auto; margin: 0 20px 0 0;">
                    <option value="ASC">오름차순</option>
                    <option value="DESC">내림차순</option>
                </select>
                <b style="margin: 0 5px 0 0;">카테고리 : </b>
                <select th:field="*{searchCategory}" class="custom-select">
                    <option value="">전체</option>
                    <option th:each="category : ${categoryList}" th:value="${category.getCateCode()}" th:text="${category.getCateName()}"></option>
                </select>
                <b style="margin: 0 5px 0 0;">태그 : </b>
                <span th:each="tag : ${tagList}">
                    <input type="checkbox" th:field="*{searchTagIds}" th:value="${tag.getId()}">
                    <label th:for="${#ids.prev('searchTagIds')}" th:text="${tag.getTagNm()}" class="form-check-label"></label>
                </span>
                <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="상품명을 입력해주세요">
                <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
            </div>
        </form>
        <div class="row">
            <th:block th:each="item, status: ${items.getContent()}">
                <div class="col-md-4 margin">
                    <div class="card">
                        <a th:href="'/item/' +${item.id}" class="text-dark">
                            <img th:src="${item.imgUrl}" class="card-img-top" th:alt="${item.itemNm}" height="400">
                            <div class="card-body">
                                <h4 class="card-title">[[${item.itemNm}]]</h4>
                                <p class="card-text">[[${item.itemDetail}]]</p>
                                <h3 class="card-title text-danger">[[${#numbers.formatCurrency(item.price)}]]<small style="font-size: 16px;"> (배송비 : <th:block th:text="${#numbers.formatCurrency(item.shippingFee)}"></th:block>)</small></h3>
                            </div>
                        </a>
                    </div>
                </div>
            </th:block>
        </div>
        <div th:with="start=${(items.number/maxPage) * maxPage + 1}, end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" >
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${items.first}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${items.number - 1} + ')'" aria-label='Previous' class="page-link">
                        <span aria-hidden='true'>이전</span>
                    </a>
                </li>
                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${items.number eq page-1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                </li>
                <li class="page-item" th:classappend="${items.last}?'disabled'">
                    <a th:onclick="'javascript:page(' + ${items.number + 1} + ')'" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>다음</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>

</html>