<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <title>Insert title here</title>
    <meta charset="UTF-8">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        //차트 데이터 불러오기
        var real_data = "[[${chartData}]]";
        //차트 그리기
        google.charts.load('current', {'packages':['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawVisualization);

        function drawVisualization() {
            console.log(real_data);

            var data = new google.visualization.DataTable();
            data.addColumn('string', '태그');
            data.addColumn('number', '누적판매량');

            // var a = real_data.replaceAll("=", ":");
            console.log(a);
            Object.keys(real_data).forEach(function(key) {
                //data.addRow([ "1인", "123" ]);
            });
            // JSON.parse(JSON.stringify(real_data))
            var options = {
                title : '태그의 개별 누적 판매량 ',
                vAxis: {title: '판매량'},
                hAxis: {title: '태그'},
                seriesType: 'bars',
                series: {5: {type: 'line'}}
            };
            var chart = new google.visualization.ColumnChart(document
                .getElementById('chart_div'));
            chart.draw(data, options);

            // var data = google.visualization.arrayToDataTable(
            // [   ['상위 태그', '누적판매량'],
            //     ['1인',  165  ],
            //     ['겨울',  135  ],
            //     ['거실',  157],
            //     ['침실',  139 ],
            //     ['4인',  136 ]
            // ]);
            // var options = {
            //     title : '누적 판매량 상위 5, 태그의 개별 판매량 ',
            //     vAxis: {title: '판매량'},
            //     hAxis: {title: '태그'},
            //     seriesType: 'bars',
            //     series: {5: {type: 'line'}}
            // };

            // var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
            // chart.draw(data, options);
        }
    </script>
</head>
<div layout:fragment="content" style="align-content: center">
    <h1>태그 판매 확인 페이지</h1>
    <div id="chart_div" style="width:900px; height: 500px; align-content: center "></div>
</div>
</html>