<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutGlobal}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function cancelOrder(orderId) {
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order/" + orderId + "/cancel";
            var paramData = {
                orderId: orderId,
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                data: param,
                beforeSend: function (xhr) {
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType: "json",
                cache: false,
                success: function (result, status) {
                    alert("주문이 취소 되었습니다.");
                    location.href = '/returns/' + [[${page}]];
                },
                error: function (jqXHR, status, error) {
                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/members/login';
                    } else {
                        alert(jqXHR.responseText);
                    }
                }
            });
        }

        function reqReturnOrder(orderId) {
            location.href = "/order/" + orderId + "/return";
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#confirmBtn")
                .off("click.order")
                .on("click.order", function () {

                    let orderArray = new Array();

                    let tdList = $("#returnTable").find("tr").find("td").find("input:checkbox:checked");
                    $.each(tdList, function (idx, item) {
                        orderArray.push(item.value);
                    });
                    orderReqReturnConfirm(orderArray);
                });

            $("#cancelBtn")
                .off("click.order")
                .on("click.order", function () {
                    history.back();
                });
            // 체크박스
            $("#selAll")
                .off("click.order")
                .on("click.order", function () {
                    let thisChecked = $("#selAll").prop("checked");

                    let subtarget = $("#returnTable").find("input[name*=subChk-]");
                    let grpTarget = $("#returnTable").find("input[name*=groupChk-]");


                    if (thisChecked) {
                        subtarget.prop("checked", true);
                        grpTarget.prop("checked", true);
                    } else {
                        subtarget.prop("checked", false);
                        grpTarget.prop("checked", false);
                    }
                });

            $("[name*=groupChk-]")
                .off("click.order")
                .on("click.order", function () {
                    let thisObj = $(this);
                    let thisChecked = thisObj.prop("checked");

                    let target = $("#returnTable").find("input[name=subChk-" + thisObj.val() + "]");
                    if (thisChecked) {
                        target.prop("checked", true);
                    } else {
                        target.prop("checked", false);
                    }
                });

        });
    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
    <script type="text/javascript">
        function orderReqReturnConfirm(orderReqReturnConfirm) {
            var token = $("meta[name = '_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order/return/confirm";

            if (!orderReqReturnConfirm || orderReqReturnConfirm.length < 1) {
                alert("항목을 선택 하신 후 확인 처리 하시기 바랍니다.");
                return;
            }

            $.ajax({
                url: url,
                type: "POST",
                beforeSend: function (xhr) {
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType: "html",
                contentType: "application/json",
                cache: false,
                data: JSON.stringify({
                    orderId: orderReqReturnConfirm
                }, null, 4),
                success: function (result, status) {
                    alert(result);
                    location.reload();
                },
                error: function (jqXHR, status, error) {

                    if (jqXHR.status == '401') {
                        alert('로그인 후 이용해주세요');
                        location.href = '/members/login';
                    } else {
                        alert(jqXHR.responseJSON.message);
                    }

                }
            });
        }
    </script>

</th:block>

<div layout:fragment="content" class="content-mg">
    <div class="admin">
        <h2 class="mb-4">
            반품 관리
        </h2>

        <div class="admin-tool">
            <div class="orderButtonBox">
                <ul class="btnBox">
                    <li>
                        <button type="button" id="confirmBtn" class="btn btn-primary">선택한 반품 확인</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="orderBox">
            <div class="orderTable">
                <table id="returnTable" class="table">
                    <thead>
                        <th><input type="checkbox" id="selAll" name="selAll"/></th>
                        <th>주문자</th>
                        <th>상품명/요청일</th>
                        <th>사유</th>
                        <th>상품금액</th>
                        <th>수량</th>
                        <th>환불 배송비</th>
                        <th>환불예정금액</th>
                        <th>반품처리 상태</th>
                    </thead>

                    <tbody>
                    <th:block th:each="orderItem: ${returns.getContent()}">
                        <th:block th:each="item: ${orderItem.getOrderItemDtoList()}">
                            <tr>
                                <!--2개이상 장바구니 구매 대응-->
                                <th:block th:if="${(item.returnStatus == T(com.shop.constant.ReturnStatus).N )}">
                                    <td th:if="${itemStat.index == 0 and orderItem.getOrderItemDtoList().size() > 1}"
                                        th:rowspan="${orderItem.getOrderItemDtoList().size()}">
                                        <input type="checkbox" th:name="${'groupChk-' + orderItem.orderId}"
                                               th:value="${orderItem.orderId}"/>
                                    </td>
                                    <td th:if="${itemStat.index == 0 and orderItem.getOrderItemDtoList().size() == 1}">
                                        <input type="checkbox" th:name="${'groupChk-' + orderItem.orderId}"
                                               th:value="${orderItem.orderId}"/>
                                    </td>
                                </th:block>
                                <th:block th:if="${(item.returnStatus == T(com.shop.constant.ReturnStatus).Y )}">
                                    <td></td>
                                </th:block>

                                <td th:text="${orderItem.orderId}"></td>
                                <td th:text="${item.itemNm }"></td>
                                <td>문제가 많아요.</td>
                                <td th:text="${item.returnPrice }"></td>
                                <td th:text="${item.returnCount }"></td>
                                <td th:text="5000"></td>
                                <td th:text="${(item.returnPrice * item.returnCount) - 5000}"></td>

                                <td th:if="${(item.returnStatus == T(com.shop.constant.ReturnStatus).Y )}">반품 처리 완료
                                </td>
                                <td th:if="${(item.returnStatus == T(com.shop.constant.ReturnStatus).N )}">반품 처리 대기
                                </td>
                            </tr>
                        </th:block>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="pageBox"
             th:with="start=${(returns.number/maxPage)*maxPage + 1}, end=(${(returns.totalPages == 0) ? 1 : (start + (maxPage - 1) < returns.totalPages ? start + (maxPage - 1) : returns.totalPages)})">
            <ul class="pagination justify-content-center">

                <li class="page-item" th:classappend="${returns.number eq 0}?'disabled':''">
                    <a th:href="@{'/returns/' + ${returns.number-1}}" aria-label='Previous' class="page-link">
                        <span aria-hidden='true'>이전</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                    th:classappend="${returns.number eq page-1}?'active':''">
                    <a th:href="@{'/returns/' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
                </li>

                <li class="page-item" th:classappend="${returns.number+1 ge returns.totalPages}?'disabled':''">
                    <a th:href="@{'/returns/' + ${returns.number+1}}" aria-label='Next' class="page-link">
                        <span aria-hidden='true'>다음</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</div>


</html>
