<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutGlobal}">

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function() {
                $("#searchBtn").on("click",function(e) {
                    e.preventDefault();

                    page(0);
                });
            });

            function page(page) {
                var searchQuery = $("#searchQuery").val();

                location.href = "/uitem/manage/" + page + "?searchQuery=" + searchQuery;
            }
        </script>
    </th:block>

    <th:block layout:fragment="css">

    </th:block>

    <div layout:fragment="content">
        <div class="admin">
            <h2>등록한 중고 상품</h2>
            <div class="admin-tool">
                <a th:href="@{/uitem/new}" class="btn btn-primary">중고 상품 등록</a>
                <a th:href="@{/uitems}" class="btn btn-info">목록으로</a>
            </div>
            <form th:action="@{'/uitem/manage/' + ${usedItemList.number}}" method="GET" th:object="${usedItemList}">
                <table class="rauction-table table">
                    <thead>
                        <tr>
                            <th>상품 정보</th>
                            <th>가격</th>
                            <th>판매 상태</th>
                            <th>개시 종료일</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usedItem, status: ${usedItemList.getContent()}">
                            <td>
                                <span class="rauction-table-img" th:style="'background-image: url(' + ${usedItem.imgUrl} + ')'"></span>
                                <span class="rauction-table-name" th:text="${usedItem.name}"></span>
                            </td>
                            <td th:text="${#numbers.formatCurrency(usedItem.price)}"></td>
                            <td th:if="${usedItem.usedItemSellStatus == T(com.shop.constant.UsedItemSellStatus).SELL}" class="font-weight-bold text-primary">판매중</td>
                            <td th:if="${usedItem.usedItemSellStatus == T(com.shop.constant.UsedItemSellStatus).REZ}" class="font-weight-bold text-warning">예약중</td>
                            <td th:if="${usedItem.usedItemSellStatus == T(com.shop.constant.UsedItemSellStatus).SOLD_OUT}" class="font-weight-bold text-danger">판매 완료</td>
                            <td th:text="${#temporals.format(usedItem.endTime, 'yyyy-MM-dd HH:mm')}"></td>
                            <td style="width: 100px">
                                <a th:href="@{/uitem/update/__${usedItem.id}__}" class="btn btn-primary">수정</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div th:if="${usedItemList.getTotalElements() == 0}" class="table-empty">
                    <i class="fa fa-times-circle"></i>
                    검색 결과가 없습니다
                </div>
                <div th:with="start=${(usedItemList.number/maxPage) * maxPage + 1}, end=(${(usedItemList.totalPages == 0) ? 1 : (start + (maxPage - 1) < usedItemList.totalPages ? start + (maxPage - 1) : usedItemList.totalPages)})" >
                    <ul class="pagination justify-content-center">
                        <li class="page-item" th:classappend="${usedItemList.first}?'disabled'">
                            <a th:onclick="'javascript:page(' + ${usedItemList.number - 1} + ')'" aria-label='Previous' class="page-link">
                                <span aria-hidden='true'>이전</span>
                            </a>
                        </li>
                        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${usedItemList.number eq page-1}?'active':''">
                            <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                        </li>
                        <li class="page-item" th:classappend="${usedItemList.last}?'disabled'">
                            <a th:onclick="'javascript:page(' + ${usedItemList.number + 1} + ')'" aria-label='Next' class="page-link">
                                <span aria-hidden='true'>다음</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </form>
            <form th:action="@{'/uitems/' + ${usedItemList.number}}" role="form" method="get" th:object="${usedItemList}">
                <div class="form-inline justify-content-center" th:object="${usedItemSearchDto}">
                    <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="상품명을 입력해주세요">
                    <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
                </div>
            </form>
        </div>
    </div>

</html>