*, *:before, *:after {
	margin: 0;
	padding: 0;
	min-width: 0;
	min-height: 0;
	box-sizing:  border-box;
}
html, body {
	width: 100%;
	height: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1;
	letter-spacing: -0.02em;
	overflow-x: hidden;
}
ul, li {
	margin: 0;
	list-style: none;
}
a, a:hover {
	color: inherit;
	text-decoration: none;
}

#wrap {
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}
.wrap {
	margin: 0 auto;
	width: 100%;
	max-width: 1250px;
}

.nav, .header, .footer {
	flex-shrink: 0;
}
.nav-inner, .header-inner, .header-submenu-inner, .footer-inner {
	margin: 0 auto;
	width: 100%;
	max-width: 1250px;
}

.nav {
	padding: 5px 0;
    background: #f43142;
    color: #fff;
    text-align: right;
}
.nav a {
	text-decoration: underline;
	margin: 0 0 0 10px;
}

.header {
	border-bottom: 1px solid #f43142;
}
.header-top {
	position: relative;
	padding: 20px 0;
	text-align: center;
}
.header-search {
	position: absolute;
	top: 50%;
	right: 0;
	display: flex;
	transform: translateY(-50%);
}
.header-search input {
	outline: none;
	border: 1px solid #f43142;
	border-right: 0;
	padding: 10px;
	color: #f43142;
}
.header-search input::placeholder {
	color: #f43142;
}
.header-search button {
	border: 0;
	padding: 10px;
	background: #f43142;
	color: #fff;
}
.header-menu {
	border-top: 1px solid #f43142;
}
.header-menu ul {
	display: flex;
	border: 1px solid #f43142;
	border-style: none solid;
}
.header-menu li:not(:nth-child(7)) a {
	border-right: 1px solid #f43142;
}
.header-menu li a {
	width: 179px;
	text-align: center;
	color: #f43142;
	font-size: 16px;
	font-weight: 500;
	padding: 10px;
	display: block;
	transition: color .2s ease,
				background .2s ease;
}
.header-menu li a:hover {
	background: #f43142;
	color: #fff;
}
.header-submenu {
	display: none;
	background: #f43142;
	color: #fff;
	font-size: 16px;
}
.header-submenu-inner {
	display: flex;
	align-items: center;
	justify-content: center;
}
.header-submenu-inner a {
	margin: 15px 20px;
}
.header-submenu.active {
	display: block;
}

.order-review-btn {
	position: absolute;
	right: 30px;
}

.admin {
	position: relative;
}
.admin-tool {
	position: absolute;
	top: 0;
	right: 0;
}
.admin .h2, .admin h2 {
	margin: 0 0 20px;
}

.main-best-link {
	font-size: 16px;
	color: #f43142;
	text-decoration: underline;
	margin: 0 10px;
}
.main-title {
	margin: 40px 0 0;
}
.main-category {
	margin: 40px 0;
	display: flex;
}
.main-category-item {
	flex: 1 0 0;
	text-align: center;
	font-size: 14px;
}
.main-category-item a::before {
	font-family: boxicons!important;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-rendering: auto;
    display: inline-block;
    text-transform: none;
    speak: none;
    -webkit-font-smoothing: antialiased;

    display: block;
    margin: 0 auto 10px;
    font-size: 32px;
    text-align: center;
    width: 80px;
    height: 80px;
    line-height: 60px;
    padding: 10px;
    border-radius: 45%;
    background: #f0f0f0;
    color: #f43142;
}
.main-category-item:nth-child(1) a::before { content: "\ef24"; }
.main-category-item:nth-child(2) a::before { content: "\ec92"; }
.main-category-item:nth-child(3) a::before { content: "\ef29"; }
.main-category-item:nth-child(4) a::before { content: "\ed13"; }
.main-category-item:nth-child(5) a::before { content: "\ecb3"; }
.main-category-item:nth-child(6) a::before { content: "\ee5f"; }
.main-category-item:nth-child(7) a::before { content: "\ede2"; }
.main-category-item:nth-child(8) a::before { content: "\ea96"; }
.main-category-item:nth-child(9) a::before { content: "\ecd6"; }
.main-category-item:nth-child(10) a::before { content: "\ee73"; }

.footer {
	margin: 40px 0 0;
	padding: 40px 0;
	font-size: 14px;
	background: #f0f0f0;
	line-height: 1.8;
}
.footer-inner {
	position: relative;
}
.footer-link, .footer-rule {
	display: flex;
	font-weight: 600;
}
.footer-link {
	margin: 0 0 5px;
}
.footer-link li {
	margin-right: 20px;
}
.footer-rule {
    margin: 0 0 10px;
}
.footer-rule li:not(:last-child):after {
	display: inline-block;
	margin: 0 5px;
	content: '|';
}
.footer-social {
	position: absolute;
	top: 0;
	right: 0;
}
.footer-social img {
    filter: invert(1);
}

.content-outer {
	flex: 1 0 auto;
	padding: 40px 0 0;
}
.content, .content-mg {
	margin: 0 auto !important;
	width: 100%;
	max-width: 1250px;
}

.item-card {
	margin: 15px;
	width: 224px;
	flex-basis: 224px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0px 2px 10px rgba(0,0,0,.07);
}
.item-card-img {
	width: 100%;
	height: 224px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.item-card-body {
	padding: 20px;
}
.item-card-title {
	font-size: 18px;
	font-weight: 600;
	margin: 0 0 8px;
}
.item-card-price {
	margin: 12px 0 0;
	font-size: 18px;
	font-weight: 500;
	color: #f43142;
}
.item-card-wrap {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}


.login, .register, .auth {
	max-width: 400px;
	margin: 0 auto;
}
.login h2, .auth h2 {
	text-align: center;
	margin: 0 0 40px;
}
.login .btn {
	margin: 0 0 10px;
	display: block;
	width: 100%;
}
.login hr {
	margin: 20px 0;
}
.login-btn-grp {
	display: flex;
	margin: 0 -5px 10px;
}
.login-btn-grp .btn {
	margin: 0 5px;
}

.rauction-form {
	display: flex;
}
.rauction-form-items,
.rauction-form-fields {
	flex: 1 0 50%;
}
.rauction-form-items-scroll {
	border: 3px solid #000;
	margin: 0 0 20px;
	padding: 0;
	height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
}
.rauction-item {
	border-bottom: 1px solid #999;
	padding-right: 20px;
	margin: 0;
	display: flex;
	align-items: center;
	cursor: pointer;
}
.rauction-item-img {
	display: inline-block;
	margin: 0 20px 0 0;
	width: 75px;
	height: 75px;
	background-size: cover;
	background-position: center;
}
.rauction-item-text {
	flex: 1 0 auto;
	font-size: 18px;
	font-weight: 600;
}
.rauction-item-price {
	display: inline-block;
	margin: 0 0 0 20px;
	font-size: 16px;
}
.rauction-field-inner {
	display: flex;
	align-items: center;
	margin: 0 0 20px;
}
.rauction-field-inner input {
	flex: 1 0 0%;
	margin: 0 10px 0 0;
}
.rauction-form-fields {
	padding:  20px;
}
.rauction-form-fields label {
	display: block;
	font-size: 18px;
	font-weight: 600;
}
.rauction-form-fields input {
	padding: 10px;
	width: 100%;
}
.rauction-form-fields .btn {
	display: block;
	margin: 0 0 10px;
	width: 100%;
}
.rauction-table td {
	vertical-align: middle;
}
.rauction-table-add {
	float: right;
}
.rauction-table-img {
	display: inline-block;
	margin: 0 20px 0 0;
	width: 50px;
	height: 50px;
	background-size: cover;
	background-position: center;
	vertical-align: middle;
}
.rauction-table-name {
	font-size: 18px;
	font-weight: 600;
}
.rauction-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin: 0 -20px;
}
.rauction-card {
	padding:  20px;
	flex: 0 0 33.33333333%;
}
.rauction-card-inner {
	border: 3px solid #000;
}
.rauction-card-img {
	border-bottom: 3px solid #000;
	height: 150px;
	background-size: cover;
	background-position: center;
}
.rauction-card-text {
	padding: 20px;
	line-height: 1.4;
}
.rauction-card-counter {
	display: inline-block;
	margin: 0 10px 0 0;
	color: #f00;
	font-weight: 600;
}
.rauction-card h4 {
	font-weight: 600;
	margin: 0 0 20px;
}
.rauction-card-props span {
	float: right;
}
.rauction-card-discount {
	margin: 10px 0;
	text-align: right;
}
.rauction-card-discount b {
	font-size: 22px;
}
.rauction-card-discount small {
	font-size: 16px;
}
.rauction-card-price {
	display: flex;
	align-items: center;
	font-weight: 600;
}
.rauction-card-price span {
	margin-right: auto;
}
.rauction-card-price b {
	font-size: 24px;
}
.rauction-card-finish {
    margin: 20px 0;
}
.rauction-card-finish b {
    display: inline-block;
    margin: 0 10px 0 0;
}
.rauction-previous-toggle {
	display: block;
	margin: 40px auto 0;
}
.rauction-previous-toggle::after {
	content: '보기 ▼';
	display: inline-block;
}
.rauction-previous-toggle.active::after {
	content: '숨기기 ▲';
}
.rauction-previous {
	display: none;
}
.rauction-previous-toggle.active + .rauction-previous {
	display: block;
}
.rauction-detail-title {
	font-weight: 600;
}
.rauction-detail-box {
	font-size: 18px;
	background: #e9ecef;
}
.rauction-detail-prop {
	display: flex;
	padding: 20px;
	font-size: 18px;
}
.rauction-detail-prop b,
.rauction-detail-prop span {
	flex: 1 0 50%;
}
.rauction-detail-box > .rauction-detail-prop:last-child {
	margin-bottom: 0;
}
.rauction-detail-sprice {
	font-size: 20px;
}
.rauction-detail-discount {
	display: block;
	margin: 10px 0 0;
	color: #f00;
	font-size: 24px;
	font-weight: 600;
}
.rauction-detail-cprice {
    margin: 0 0 10px;
	display: block;
	font-size: 30px;
	font-weight: 600;
}

.bid-table {
    border-bottom: 2px solid #777;
    font-size: 18px;
}
.bid-table th {
    border-top: 2px solid #777;
    border-bottom: 1px solid #777 !important;
}
.bid-table td {
    vertical-align: middle;
}
.bid-table td:nth-child(2) {
    font-size: 22px;
    font-weight: 600;
}
.bid-table-img {
	display: inline-block;
	margin: 0 20px 0 0;
	width: 75px;
	height: 75px;
	background-size: cover;
	background-position: center;
	vertical-align: middle;
}
.bid-payment {
    margin: 50px 0 0;
    text-align: center;
}
.bid-payment h4 {
    font-weight: 600;
}
.bid-payment label {
    margin: 20px;
}
.bid-payment button {
    margin: 40px 0 0;
}
.bid-complete {
    padding: 40px 0;
    text-align: center;
    line-height: 1.4;
}
.bid-complete h2 {
    margin: 0 0 10px;
    font-weight: 600;
}
.bid-complete p {
    margin: 0 0 40px;
}
.bid-complete ul {
    margin: 0 auto 40px;
    width: 320px;
    text-align: left;
}
.bid-complete ul b {
    display: inline-block;
    width: 100px;
}

.pagination {
	margin: 20px 0 10px;
}

.table-empty {
    font-size: 24px;
    text-align: center;
    padding: 150px 0;
}
.table-empty .fa {
    display: block;
    margin: 0 0 20px;
    font-size: 40px;
}

.imgSelect {
	display: flex;
	justify-content: center;
}
.imgSelect > div {
	margin: 0 5px;
}
.imgSelect img {
	cursor: pointer;
}

.bid-account {
	margin: 0 0 10px;
	float: right;
	font-size: 16px;
}

.search_input{
    font-size:16px;
    height :50px;
    width:300px;
    float:left;
    margin-right:0px;
}

.search_btn{
    width:50px;
    height:50px;
    border:0px;
    background-color:#acb4c4 ;
    outline:none;
    color:black;
}

.menu_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu_li {
    float: left;
}

.menu_li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: black;
    font-weight:900;
}

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
}
.modal.show {
	display: block;
}
.modal_body {
	position: absolute;
	top: 40%;
	left: 50%;
	/*width: 400px;*/
	/*height: 300px;*/
	width : auto;
	height: auto;
	padding: 10px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
}
