html, body {
    position: relative;
    width: 100%;
    min-height: 100%;
    magrin: 0;
}
.footer {
    padding: 15px 0;
    width: 100%;
    text-align: center;
}
.content {
    padding: 50px 200px 100px 200px;
}