<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutGlobal}">

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function() {
                $("#searchBtn").on("click",function(e) {
                    e.preventDefault();

                    page(0);
                });
            });

            function page(page) {
                var searchQuery = $("#searchQuery").val();
                var searchApprovedYn = $("#searchApprovedYn").val();
                var sortColumn = $("#sortColumn").val();
                var sortDirection = $("#sortDirection").val();

                location.href = "/bids/" + page + "?searchQuery=" + searchQuery
                    + "&searchApprovedYn=" + searchApprovedYn
                    + "&sortColumn=" + sortColumn
                    + "&sortDirection=" + sortDirection;
            }
        </script>
    </th:block>

    <div layout:fragment="content">
        <h2>
            역경매 참여 내역
            <span class="bid-account">
                <b>예금주 : </b><span>샵지에스아이티엠</span><br>
                <b>계좌번호 : </b><span>(GS뱅크) 111-222-333333</span><br>
                <b>입금자명 : </b><span th:text="${depositName}"></span>
            </span>
        </h2>
        <form th:action="@{'/bids/' + ${bidDtoList.number}}" method="GET" th:object="${bidDtoList}">
            <table class="rauction-table table">
                <thead>
                    <tr>
                        <th>상품 정보</th>
                        <th>결제 금액</th>
                        <th>참여 상태</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="bidDto, status: ${bidDtoList.getContent()}">
                        <td>
                            <span class="rauction-table-img" th:style="'background-image: url(' + ${bidDto.imgUrl} + ')'"></span>
                            <span class="rauction-table-name" th:text="${bidDto.itemNm}"></span>
                        </td>
                        <td th:text="${#numbers.formatCurrency(bidDto.depositAmount)}"></td>
                        <td th:if="${bidDto.approvedYn == 'Y'}" class="font-weight-bold text-success">낙찰</td>
                        <td th:if="${bidDto.approvedYn == 'F'}" class="font-weight-bold text-danger">실패</td>
                        <td th:if="${bidDto.approvedYn == 'N'}" class="font-weight-bold text-secondary">결제 대기 중</td>
                    </tr>
                </tbody>
            </table>
            <div th:if="${bidDtoList.getTotalElements() == 0}" class="table-empty">
                <i class="fa fa-times-circle"></i>
                검색 결과가 없습니다
            </div>
            <div th:with="start=${(bidDtoList.number/maxPage) * maxPage + 1}, end=(${(bidDtoList.totalPages == 0) ? 1 : (start + (maxPage - 1) < bidDtoList.totalPages ? start + (maxPage - 1) : bidDtoList.totalPages)})" >
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${bidDtoList.first}?'disabled'">
                        <a th:onclick="'javascript:page(' + ${bidDtoList.number - 1} + ')'" aria-label='Previous' class="page-link">
                            <span aria-hidden='true'>이전</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${bidDtoList.number eq page-1}?'active':''">
                        <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                    </li>
                    <li class="page-item" th:classappend="${bidDtoList.last}?'disabled'">
                        <a th:onclick="'javascript:page(' + ${bidDtoList.number + 1} + ')'" aria-label='Next' class="page-link">
                            <span aria-hidden='true'>다음</span>
                        </a>
                    </li>
                </ul>
            </div>
        </form>
        <form th:action="@{'/bids/' + ${bidDtoList.number}}" role="form" method="get" th:object="${bidDtoList}">
            <div class="form-inline justify-content-center" th:object="${bidSearchDto}">
                <b style="margin: 0 5px 0 0;">정렬 : </b>
                <select th:field="*{sortColumn}" class="form-control" style="width: auto; margin: 0 5px 0 0;">
                    <option value="REG_TIME">신청일</option>
                    <option value="NAME">상품명</option>
                </select>
                <select th:field="*{sortDirection}" class="form-control" style="width: auto;">
                    <option value="ASC">오름차순</option>
                    <option value="DESC">내림차순</option>
                </select>
                <b style="margin: 0 5px 0 20px;">필터 : </b>
                <select th:field="*{searchApprovedYn}" class="form-control" style="width: auto; margin: 0 20px 0 0;">
                    <option value="">모든 상태</option>
                    <option value="N">결제 대기 중</option>
                    <option value="Y">낙찰</option>
                    <option value="F">실패</option>
                </select>
                <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="상품명을 입력해주세요">
                <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
            </div>
        </form>
    </div>

</html>