<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutGlobal}">

    <head>
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </head>

    <th:block layout:fragment="script">
        <script th:inline="javascript">
            $(document).ready(function() {
                $("#searchBtn").on("click",function(e) {
                    e.preventDefault();

                    page(0);
                });

                $('.rauction-refund').on('click', function() {
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");

                    $.ajax({
                        url: '/admin/bid/' + $(this).data('id') + '/refund',
                        beforeSend: function(xhr) {
                            xhr.setRequestHeader(header, token);
                        },
                        dataType: "json",
                        cache: false,
                        success: function(result) {
                            alert(result);
                        },
                        error: function(jqXHR, status, error) {
                            if(jqXHR.status == "401") {
                                alert("로그인 후 이용해주세요");

                                location.href = "/members/login";
                            } else {
                                alert(jqXHR.responseText);
                            }
                        }
                    });
                });
            });

            function page(page) {
                var searchQuery = $("#searchQuery").val();
                var searchApprovedYn = $("#searchApprovedYn").val();
                var searchDepositType = $("#searchDepositType").val();
                var sortColumn = $("#sortColumn").val();
                var sortDirection = $("#sortDirection").val();

                location.href = "/admin/bids/" + page + "?searchQuery=" + searchQuery
                    + "&searchApprovedYn=" + searchApprovedYn
                    + "&searchDepositType=" + searchDepositType
                    + "&sortColumn=" + sortColumn
                    + "&sortDirection=" + sortDirection;
            }
        </script>
    </th:block>

    <div layout:fragment="content">
        <h2 class="mb-4">역경매 결제 관리</h2>
        <form th:action="@{'/admin/bids/' + ${bidDtoList.number}}" method="GET" th:object="${bidDtoList}">
            <table class="rauction-table table">
                <thead>
                    <tr>
                        <th>상품 정보</th>
                        <th>신청자</th>
                        <th>입금자명</th>
                        <th>입금액</th>
                        <th>결제 방법</th>
                        <th>신청일</th>
                        <th>상태</th>
                        <th>입금 확인</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="bidDto, status: ${bidDtoList.getContent()}">
                        <td>
                            <span class="rauction-table-img" th:style="'background-image: url(' + ${bidDto.imgUrl} + ')'"></span>
                            <span class="rauction-table-name" th:text="${bidDto.itemNm}"></span>
                        </td>
                        <td th:text="${#strings.substring(bidDto.memberEmail, 0, 3)} + '***'"></td>
                        <td th:text="${bidDto.depositName}"></td>
                        <td th:text="${#numbers.formatCurrency(bidDto.depositAmount)}"></td>
                        <td th:if="${bidDto.depositType == T(com.shop.constant.BidDepositType).TRANSFER}">무통장 입금</td>
                        <td th:if="${bidDto.depositType == T(com.shop.constant.BidDepositType).KAKAO_PAY}">카카오 페이</td>
                        <td th:text="${#temporals.format(bidDto.regTime, 'yyyy-MM-dd HH:mm')}"></td>
                        <td th:if="${bidDto.approvedYn == 'Y'}" class="font-weight-bold text-success">완료</td>
                        <td th:if="${bidDto.approvedYn == 'F'}" class="font-weight-bold text-danger">환불</td>
                        <td th:if="${bidDto.approvedYn == 'N'}" class="font-weight-bold text-secondary">확인 필요</td>
                        <td>
                            <a class="btn btn-danger rauction-refund" th:data-id="${bidDto.id}" th:if="${bidDto.approvedYn == 'F'}">환불 정보</a>
                            <a th:href="@{/admin/bid/__${bidDto.id}__/approve}" class="btn btn-primary" th:if="${bidDto.approvedYn == 'N'}">확인</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div th:if="${bidDtoList.getTotalElements() == 0}" class="table-empty">
                <i class="fa fa-times-circle"></i>
                검색 결과가 없습니다
            </div>
            <div th:with="start=${(bidDtoList.number/maxPage) * maxPage + 1}, end=(${(bidDtoList.totalPages == 0) ? 1 : (start + (maxPage - 1) < bidDtoList.totalPages ? start + (maxPage - 1) : bidDtoList.totalPages)})" >
                <ul class="pagination justify-content-center">
                    <li class="page-item" th:classappend="${bidDtoList.first}?'disabled'">
                        <a th:onclick="'javascript:page(' + ${bidDtoList.number - 1} + ')'" aria-label='Previous' class="page-link">
                            <span aria-hidden='true'>이전</span>
                        </a>
                    </li>
                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${bidDtoList.number eq page-1}?'active':''">
                        <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                    </li>
                    <li class="page-item" th:classappend="${bidDtoList.last}?'disabled'">
                        <a th:onclick="'javascript:page(' + ${bidDtoList.number + 1} + ')'" aria-label='Next' class="page-link">
                            <span aria-hidden='true'>다음</span>
                        </a>
                    </li>
                </ul>
            </div>
        </form>
        <form th:action="@{'/admin/bids/' + ${bidDtoList.number}}" role="form" method="get" th:object="${bidDtoList}">
            <div class="form-inline justify-content-center" th:object="${bidSearchDto}">
                <b style="margin: 0 5px 0 0;">정렬 : </b>
                <select th:field="*{sortColumn}" class="form-control" style="width: auto; margin: 0 5px 0 0;">
                    <option value="REG_TIME">신청일</option>
                    <option value="NAME">상품명</option>
                    <option value="PRICE">입금액</option>
                </select>
                <select th:field="*{sortDirection}" class="form-control" style="width: auto;">
                    <option value="ASC">오름차순</option>
                    <option value="DESC">내림차순</option>
                </select>
                <b style="margin: 0 5px 0 20px;">필터 : </b>
                <select th:field="*{searchApprovedYn}" class="form-control" style="width: auto; margin: 0 5px 0 0;">
                    <option value="">모든 상태</option>
                    <option value="N">확인 필요</option>
                    <option value="Y">완료</option>
                    <option value="F">환불</option>
                </select>
                <select th:field="*{searchDepositType}" class="form-control" style="width: auto; margin: 0 20px 0 0;">
                    <option value="">모든 결제 방법</option>
                    <option value="TRANSFER">무통장 입금</option>
                    <option value="KAKAO_PAY">카카오 페이</option>
                </select>
                <input th:field="*{searchQuery}" type="text" class="form-control" placeholder="상품명을 입력해주세요" style="margin: 0 5px 0 0;">
                <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
            </div>
        </form>
    </div>

</html>